
@font-face {
    font-family: 'Avenir LT Book';
    src: url('./../fonts/AvenirLT-Book.eot');
    src: url('./../fonts/AvenirLT-Book.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/AvenirLT-Book.woff') format('woff'),
    url('./../fonts/AvenirLT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Avenir LT Medium';
    src: url('./../fonts/AvenirLT-Book.eot');
    src: url('./../fonts/AvenirLT-Medium.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/AvenirLT-Medium.woff') format('woff'),
    url('./../fonts/AvenirLT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Avenir LT Book Oblique';
    src: url('./../fonts/AvenirLT-BookOblique.eot');
    src: url('./../fonts/AvenirLT-BookOblique.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/AvenirLT-BookOblique.woff') format('woff'),
    url('./../fonts/AvenirLT-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Heavy';
    src: url('./../fonts/AvenirLT-Heavy.eot');
    src: url('./../fonts/AvenirLT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/AvenirLT-Heavy.woff') format('woff'),
    url('./../fonts/AvenirLT-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('./../fonts/PlayfairDisplay-Regular.eot');
    src: url('./../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PlayfairDisplay-Regular.woff') format('woff'),
    url('./../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('./../fonts/PlayfairDisplay-Italic.eot');
    src: url('./../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/PlayfairDisplay-Italic.woff') format('woff'),
    url('./../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}